body{
  background-color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}


header{
  background-color: #FE523F;
  padding: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}

main{
  padding: 30px;
  font-size: 1.3rem;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.link_input {
  border: 2px solid #FE523F;
  border-radius: 20px 0px 0 20px; ;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  
}


.button-start {
   border: 2px solid #FE523F;
  padding: 18px;
  background-color: #FE523F;
   font-size: 1.02rem;
  color: white;
  transition: 0.5s;
}


.button-start:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #F06030;
 
}

.instructions {
  text-align: left;
  color: gray;
  
}