body{
  background-color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}


header{
/*   background-color: #FE523F; */
  background: rgb(237,102,102);
background: linear-gradient(68deg, rgba(237,102,102,1) 0%, rgba(243,74,55,1) 100%, rgba(250,26,0,0.8847710959383753) 100%);
  padding: 30px;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}

main{
  padding: 30px;
  font-size: 1.3rem;
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.link_input {
  border: 2px solid #FE523F;
  border-radius: 20px 0px 0 20px; ;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  
}


.button-start {
   border: 2px solid #FE523F;
  padding: 18px;
  background-color: #FE523F;
   font-size: 1.02rem;
  color: white;
  transition: 0.5s;
}


.button-start:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #F06030;
 
}

.instructions {
  text-align: left;
  color: gray;
  
}


.card-video-infor{
  box-sizing: border-box;
}

.video_thumbnail {
  width: 90%;
  object-fit: cover;
  max-width: 400px;
  border-radius: 10px;
}


@keyframes aniname{
  0% {transform: translate(0,0)}
  50% {transform: translate(-10px,0)}
  75% {transform: translate(10px,0)}
  100% {transform: translate(10px,0)}
}

.error-input-div {
  animation-name:aniname;
  animation-duration: 0.6s;
  color: red;
}