body {
  background-color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #E6E3DE;
}





@font-face {

  font-family: headerFont ;

  src: url(https://cdn.glitch.global/efa8cc51-17b4-422b-9772-e18d42167104/AUSTRALIA-TITLE.otf?v=1681102653695);

}


header {
  font-family: headerFont;
  letter-spacing: 0.3em;
 /*   background-color: #FE523F; */
  background: rgb(237, 102, 102);
  background: linear-gradient(
    68deg,
    rgba(237, 102, 102, 1) 0%,
    rgba(243, 74, 55, 1) 100%,
    rgba(250, 26, 0, 0.8847710959383753) 100%
  );
  padding: 20px;
  padding-left: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  
}

main {
  padding: 30px;
  font-size: 1.2rem;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
/*   -webkit-box-shadow: 0px 11px 11px -1px #000000; 
box-shadow: 0px 11px 11px -1px #000000; */
  min-height: 100vh;
}

.link_input {
  border: 2px solid #fe523f;
  border-radius: 20px 0px 0 20px;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
}

.button-start {
  border: 2px solid #fe523f;
  padding: 18px;
  background-color: #fe523f;
  font-size: 1.02rem;
  color: white;
  transition: 0.5s;
}

.button-start:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #f06030;
}

.instructions {
  text-align: left;
  color: gray;
}



.video_thumbnail {
  object-fit: cover;
  max-width: 400px;
  border-radius: 10px;
}

@keyframes aniname {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(10px, 0);
  }
}

.error-input-div {
  animation-name: aniname;
  animation-duration: 0.6s;
  color: red;
}










.card-video-infor {
 
  align-items: right;
  width: 100%;
    position: relative;
  height: 260px;
  

  background-position: center;
  max-width: 400px;
  margin-left: auto;
   margin-right: auto;
  border-radius: 2px;

}





.download-button {
  border: 0px solid #fe523f;
  padding: 10px;
  background-color:   #00000099;
  color: #CFCFCFFF;
  margin-top: 10px;
  border-radius: 4px;
  width: 130px;
  right: 0;
  margin-left: auto;
  font-size:0.75rem;
  bottom: 0;
  border-radius: 10px;
  z-index: 10;
  
  border-bottom: 5px solid #00000029;
  
  text-decoration: underline;
}

.download-button:hover{
  cursor: pointer;
}



.thumbnail-div{
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: white;
 filter: blur(4px);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}



	.initial-card {
     transition: 0.5s;
		border-radius: 18px;		padding: 20px;
    width: 64px;
		padding-bottom: 2px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.icon-suported {
		background-color: black;
    
    
		width: 60px;
		height: 30px;
    margin-left: auto;
    margin-right: auto;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
    
	}

	.initial-card:hover {
    transition: 0.5s;
    transform: scale(1.06)
	}



a {
  text-decoration: none;
  color: black;
}
a:focus, a:active {
  outline: none;
  color: black;
    background-color: transparent;
}



.sub_header{
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
}





